.signup-form {
    width: 300px;
    margin: 10px auto auto auto;
}



.signup-title{
    margin-top: 50px;
    font-size: x-large;
    font-weight: bold;

}

.signup{

    align-content: center;

}

.signup-btn{

    width: 100%;

}